.main {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.header {
    min-height: 50px;
    border-bottom: 2px solid grey;
    border-top: 2px solid grey;
    border-left: 2px solid grey;
    border-right: 2px solid grey;
    text-align: center;
    padding: 10px;
}

.board {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border: 3px solid grey;
}

.noData {
    text-align: center;
    padding: 50px;
}

app-lane {
    height: 100%;
    width: 100%;
}
