<mat-card class="main">
    <mat-card-title class="header">My Board</mat-card-title>
    <mat-card-content *ngIf="board else noData" class="board">
        <ng-container *ngIf="statuses?.length">
            <app-lane [id]="status" *ngFor="let status of statuses" [tasks]="filterLaneData(status)" [title]="statusNames[status]"></app-lane>
        </ng-container>
    </mat-card-content>
</mat-card>

<ng-template #noData>
    <mat-card class="noData">
        <mat-card-content>Woops! We broke something.</mat-card-content>
    </mat-card>
</ng-template>
